<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <title>Network HiFi Player</title>
</head>
<body>
<img width="200" height="32" src="/static/nanoplayer.png" class="custom-logo" alt="Nanomesher" itemprop="logo" />
<br>
<a href="#" onclick="javascript:window.location.port=80"><img src="/static/player.png" width="200" title="Player"></a><br>
<a href="/cdripper"><img src="/static/cdripper.png"  width="200" title="CD Ripper"></a><br>
<a href="/static/nanomesher-nanosoundcdrip/index.html"><img src="/static/cdripperbeta.png"  width="200" title="CD Ripper (Beta)"></a><br>
<b>{{ message }}</b>
</body>
</html>
