[Unit]
Description=NanoSound CD Web Service

[Service]
ExecStart=/home/volumio/nanomesher_nanosoundcd/nanosoundcd_web
WorkingDirectory=/home/volumio/nanomesher_nanosoundcd/
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=nanosoundcd_web
